<!DOCTYPE html>
<html lang="en">
<head>
    <title>ImageScale.co | Designer Freedom, Developer Reflief</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Automatically crop, scale, and resize images online." /> 
    <meta name="keywords" content="image,picture,scale,crop,resize,rotate,auto-rotate"  />
    <meta name="og:type" content="website" />
    <meta name="author" content="ImageScale.co" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,800,300' rel='stylesheet' type='text/css'>
    <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
      <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>

<body>
<div class='container'>

     <!--################ NAVIGATION START ################-->
    <section id="preroll">
        <p class='tagline tagline-1'>Designer <strong>Freedom</strong></p>
        <p class='tagline tagline-2'>Developer <strong>Relief</strong></p>
        <img class='logo' src="img/imagescale-logo.svg" alt="ImageScale Logo"/>
        <h1>ImageScale</h1>
        <img class='down' src="img/arrow-down.svg" alt="Down" />
        <div class='footer'></div>
    </section>

    <header id="pagetop">
        <div class='name'><h1>ImageScale</h1>
        </div>
        <div class='logo'>
            <img src="img/imagescale-logo.svg" alt="ImageScale Logo"/>
        </div>
        <nav>
            <a href="#features">Features</a>
            <!--
            <a href="documentation.html">Docs</a>
            <a href="api.html">API</a>
            -->
            <a href="https://mgmt.imagescale.co">Sign In</a>
        </nav>
    </header>
    <!--################ NAVIGATION END ################-->

    {{content}}

    <!--################ FOOTER START ################-->
    <section class="info">
      <section class='links'>
          <h3>Links</h3>
          <a href="mailto:support@imagescale.co?subject=Technical Support Request">Support</a>
          <a href="imagescale-privacy-policy.pdf">Privacy Policy </a>
          <a href="imagescale-refund-policy.pdf">Refund Policy</a>
          <a href="mailto:support@imagescale.co?subject=General Contact">Contact</a>
      </section>
      <section class='about-us'>
        <h3>About</h3>
        <p>ImageScale is a collaboration between <a href="http://agaric.com/">Agaric</a> and <a href="http://spry-group.com">The Spry Group</a>.</p>
      </section>
      <section class='connect'>
          <h3>Connect</h3>
          <a href="http://twitter.com/imgscale" target="_blank" class="twitter">Twitter</a>
          <a href="https://github.com/ImageScale" target="_blank" class="github">GitHub</a>
          <!--<a href="" target="_blank" class="facebook">Facebook</a>-->
      </section>    
    </section>

    <footer>
        <p>© 2013 </p>
        <p>ImageScale.co P.O. Box 210993 Brooklyn, NY 11221</p>
    </footer>
</div>

    <script src="js/jquery.js"></script>
    <script src="js/custom.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37488554-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>